@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

@layer components {
	.details-info-cus {
		@apply flex w-full flex-col items-center justify-center;
	}

	.notification-modal-to-cus-content {
		@apply text-sm font-normal text-black_text_sec;
	}
	.font-w-s-500 {
		@apply font-medium not-italic;
	}

	.approval-access-custome {
		@apply not-italic font-medium text-sm;
	}
	.container.dropzone-parent-bg {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
		border-width: 2px;
		border-radius: 2px;
		border-color: #eeeeee;
		border-style: dashed;
		background-color: transparent;
		/* color: #bdbdbd; */
		outline: none;
		transition: border 0.24s ease-in-out;
	}

	.acceptbut {
		padding: 0.75rem 1rem;
		border: none;
		font-size: 0.875rem;
		font-weight: 500;
		color: white;
		border-radius: 0.375rem;
	}
	.acceptbut.acceptbut__activities {
		padding: 0.55rem 1rem !important;
	}
	.headerTitle {
		@apply text-xl font-[500];
	}

	.loginActionTitle {
		@apply text-purplePrimary text-[20px] font-semibold;
	}

	.subTitle {
		@apply text-blackInput text-[14px];
	}

	/* text-[#222823] */
	.passwordStr {
		@apply text-grayText text-sm font-[400];
	}

	.loginActionContent {
		@apply w-full h-full absolute top-[0] left-[0];
	}

	.loginActionWrapper {
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #5c068c;
		opacity: 0.3;
		/* Purple/Primary */

		border: 1px solid #5c068c;
		border-radius: 5px;
	}

	.loginActionWrapperInput {
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #5c068c;
		opacity: 1;
	}

	.loginActionContentInput {
		@apply h-full absolute top-[0] right-[0];
	}

	input.custom-checkbox:checked + div {
		@apply border-primary;
	}
	input.custom-checkbox:checked + div svg {
		display: block !important;
	}
}

.loader {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 9999;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader img {
	max-width: 50px;
}

.action-loader {
	width: 58px;
	height: 58px;
}

.action-loader img {
	max-width: 50px;
}


@keyframes slideDown {
	0% {
	  opacity: 0;
	  transform: translateY(-10px);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
 }

 @keyframes fadeInRight {
	0% {
	  opacity: 0;
	  transform: translateX(-10px);
	}
	100% {
	  opacity: 1;
	  transform: translateX(0);
	}
 }

 .slide-down {
	animation: slideDown 0.3s ease forwards;
 }
 .fade-in-right {
	animation: fadeInRight 0.2s ease forwards;
 }


/* MERCHANT TABLE COLUMNS */
[data-column-id="action"].rdt_TableCol {
	padding-left: 3rem;
	}

	
